<template>
    <b-container>
        <b-row>
            <b-col class="text-left" align-self="center">
                <div 
                    class="pointer"
                    @click="updateAll"
                    v-b-tooltip.hover title="Atualizar manualmente"
                    style="max-width: 4rem;"> 
                    <v-icon name="clock"/> <strong>{{ min }}:{{ sec }}</strong>
                </div>                
            </b-col>
            <b-col class="text-right" align-self="center">
                <b-button 
                    class="btn btn-md bg-danger border-danger mb-3"                                     
                    @click="logout"> 
                    Sair
                </b-button> 
            </b-col>
        </b-row>
        <p class="text-center text-danger" v-if="errorRequest">{{ errorRequest }}</p>
        
        <!-- Seção dispositivos -->
        <section class="mb-3">
            <b-card-group deck>
                <b-card header-tag="header">
                    <b-row slot="header">
                        <b-col>
                            <h2 class="card-header-text" slot="header"><v-icon name="hdd" scale="2"/> Dispositivos </h2>
                        </b-col>
                    </b-row>                           
                    <template v-if="isAnyDevices">
                        <b-card-group deck>
                            <b-card                                
                                v-for="(comps, device_name) in devices"                                     
                                :key="device_name"
                                v-bind:id="device_name"
                                v-bind:ref="device_name"
                                class="mb-4 pointer"
                                header-tag="header"
                                @click="openLogs" style="max-width: 20rem;">

                                <!-- Nome do dispositivo -->
                                <h3 slot="header" class="pl-2 text-center font-weight-bold text-primary"> {{ device_name }} </h3>
                                
                                <!-- Header tabela de componentes -->
                                <h5 class="pl-2 text-center header-gradient"><v-icon name="microchip"/> Componentes </h5>
                                
                                <!-- Tabela de componentes -->
                                <b-table striped :items="comps"></b-table>
                            </b-card>
                        </b-card-group>
                    </template>                            

                    <!-- Template para informar que não existem dispositivos no BD -->                            
                    <template v-else>
                        <div><strong>Não existem dispositivos</strong></div> 
                    </template>
                </b-card>
            </b-card-group> 
        </section>

        <!-- Seção de logs -->
        <template v-if="showLogs">
            <section class="mb-3">
                <b-card header-tag="header">
                    <b-row slot="header">
                        <b-col>
                            <h2 class="card-header-text" slot="header"><v-icon name="scroll" scale="2"/> Registro de Atividades - <strong class="text-primary">{{ header_log }}</strong></h2>
                        </b-col>
                    </b-row>                           
                    <template v-if="isAnyLogs">                                
                        <!-- Tabela de logs -->
                        <b-table striped :items="logs"></b-table>
                    </template>                            

                    <!-- Template para informar que não existem logs desse dispositivo no BD -->                            
                    <template v-else>
                        <div><strong>Não existem registros para esse dispositivo</strong></div> 
                    </template>
                </b-card>
            </section>
        </template>        
    </b-container>
</template>

<script>
    // O comentário na linha de baixo desabilita os warnings
/* eslint-disable */
// Imports
import API from '@/services/ApiService'
import store from '@/store'
import router from '@/router'

export default {
    name: "home",
    data() {
        return {
            // Tamanho do timer(em segundos)
            timerLength: 60,

            // Timer para atualizar os dados da página
            timer: null,

            // Minutos timer
            min: 0,

            // Segundos timer (Inicializado desse modo para aparecer dois 0
            // no início do timer)
            sec: 0,

            // Diferença timer
            dif: 0,

            // Mostra se o erro de requisição, se ocorreu
            errorRequest: null,

            // Mostra os dispositivos caso exista algum
            isAnyDevices: false,
            
            // Dispositivos
            devices: null,

            // Nome do dispositivo no header de log
            header_log: "",

            // Logs
            logs: null,

            // Controle da exibição da div de logs
            showLogs: false,

            // Mostra os logs caso exista algum
            isAnyLogs: false,
        }
    },
    methods: {
        // Método para inicializar o timer
        initializeTimer() {
            this.timer = new Date()
            this.timer = (new Date(this.timer.getTime() + 1000 * this.timerLength)).getTime()
            var now = new Date().getTime()
            this.dif = this.timer - now
            this.min = Math.floor((this.dif % (1000 * 60 * 60)) / (1000 * 60))
            this.sec = Math.floor((this.dif % (1000 * 60)) / 1000)
        },

        // Método para recuperar os dispositivos e componentes
        getAllDevCompInformation () {
            // O token  do usuário é recuperado e adicionado ao header da 
            // requisição para enviá-lo ao back-end
            API.token = store.getters.authToken;
            
            // Requisição GET para recuperar os dispositivos e os seus componentes
            API.get('/getAllDevCompInformation')
            .then(response => {
                if(response.data.data  !== null && response.data.data !== '') {
                    this.devices = response.data.data
                    this.isAnyDevices = true
                } else {
                    this.isAnyDevices = false
                }
            }).catch(error => {
                // Se o token estiver inválido o usuário é redirecionado para o login
                API.token = store.getters.authToken
                API.post('/verifyToken', null).then(response => {
                    if(response.data.auth !== true) {
                        router.push({
                            name: 'Login',
                            params:{
                                error: 'Faça o login para continuar.'
                            }
                        });
                    }
                }).catch(response => {
                    router.push({
                        name: 'Login',
                        params:{
                            error: 'Há algum erro nas requisições ao servidor...'
                        }
                    });
                });
            });
        },

        // Método para buscar os logs dos dispositivos no back-end ao clicar no card
        openLogs (event) {            
            // Set do nome do dispositivo no header de registro de atividades
            this.header_log = event.currentTarget.id

            // O token  do usuário é recuperado e adicionado ao header da 
            // requisição para enviá-lo ao back-end
            API.token = store.getters.authToken;

            // Requisição GET passando parâmetro
            API.getParams('/getAllLogs', {
                device_name: event.currentTarget.id        
            }).then(response => {   
                // Limpa o conteúdo do erro
                this.errorRequest = null   
                if(response.data.data  !== null && response.data.data !== '') {
                    this.logs = response.data.data                    
                    this.showLogs = true
                    this.isAnyLogs = true
                } else {
                    this.showLogs = true
                    this.isAnyLogs = false
                }
            }).catch(error => {
                this.showLogs = false
                this.errorRequest = 'Houve algum erro na requisição ao servidor...'
            });
        },

        // Método para atualizar os logs do dispositivo selecionado
        updateLogs () {
            // O token  do usuário é recuperado e adicionado ao header da 
            // requisição para enviá-lo ao back-end
            API.token = store.getters.authToken;

            // Requisição GET passando parâmetro
            API.getParams('/getAllLogs', {
                device_name: this.header_log       
            }).then(response => {   
                // Limpa o conteúdo do erro
                this.errorRequest = null   
                if(response.data.data  !== null && response.data.data !== '') {
                    this.logs = response.data.data                    
                    this.showLogs = true
                    this.isAnyLogs = true
                } else {
                    this.showLogs = true
                    this.isAnyLogs = false
                }
            }).catch(error => {
                this.showLogs = false
                this.errorRequest = 'Houve algum erro na requisição ao servidor...'
            });
        },

        // Método para atualizar devices, components e logs
        updateAll () {
            // Atualização da seção de devices
            this.getAllDevCompInformation()

            // Se a seção de logs está aberta ela é atualizada
            if (this.showLogs) {
                this.updateLogs()
            }

            // Reinicializa o timer
            this.initializeTimer()
        },

        // Método para deslogar o usuário
        logout () {
            // O token  do usuário é recuperado e adicionado ao header da 
            // requisição para enviá-lo ao back-end
            API.token = store.getters.authToken;

            // Requisição DELETE para invalidar o token
            API.delete('/logout')
            .then(response => {
                router.push({
                    name: 'Login',
                    params:{
                        message: 'Logout feito com sucesso.'
                    }
                });
            }).catch(error => {
                router.push({
                    name: 'Login',
                    params:{
                        error: 'Há algum erro nas requisições ao servidor...'
                    }
                });
            });
        },        
    },
    // Função executada ao montar o componente
    mounted: function () {    
        // Para utilizar o contexto this do componente dentro do setInterval
        var _this = this
        // console.log(this.timer.getTime())
        var x = setInterval(function() {
            var now = new Date().getTime()
            _this.dif = _this.timer - now
            _this.min = Math.floor((_this.dif % (1000 * 60 * 60)) / (1000 * 60))
            _this.sec = Math.floor((_this.dif % (1000 * 60)) / 1000)
            if (_this.dif < 1000) {
                _this.timer += (1000 * _this.timerLength)

                // Atualização da seção de devices
                _this.getAllDevCompInformation()

                // Se a seção de logs está aberta ela é atualizada
                if (_this.showLogs) {
                    _this.updateLogs()
                }
            }
        }, 1000);
    },

    // Função executada logo ao criar o componente
    created: function () {
        // Inicialização do timer da página
        this.initializeTimer()

        // Inicialização dos dispositivos e componentes, caso existam no BD
        this.getAllDevCompInformation()
    },
};
</script>

<style>
.pointer {
    cursor: pointer;
}

.card-header-text {
    color: black;
}
</style>