<template>
    <section class="pt-1 pb-5">
        <!-- Divisão do login -->
        <div id="login">
            <h3 class="text-center font-weight-bold pt-5 py-3">Login</h3>
            <p class="text-center text-danger" v-if="error">{{ error }}</p>
            <p class="text-center text-success" v-if="message">{{ message }}</p>
            <div class="container" id="login-container">
                <div class="row justify-content-center align-items-center" id="login-row">
                    <b-card>
                        <b-card-text>
                            <b-form @submit.prevent="login">
                                <!-- Username -->
                                <b-form-group>
                                    <b-form-text class="mb-2 text-left" for="username"><v-icon name="user"/> Usuário</b-form-text>
                                    <b-form-input type="text"
                                        id="username"  
                                        v-model="username" required></b-form-input>                         
                                </b-form-group>
                                
                                <!-- Senha -->
                                <b-form-group>
                                    <b-form-text class="mb-2 text-left" for="userPassword"><v-icon name="lock"/> Senha</b-form-text>
                                    <b-form-input type="password"
                                        id="userPassword" 
                                        v-model="password" required></b-form-input> 
                                </b-form-group>                                                    
    
                                <!-- Botão de login  -->
                                <div class="d-flex flex-column align-items-center mt-2 my-2">
                                    <b-btn variant="outline-dark" type="submit">
                                        Fazer login
                                    </b-btn>                            
                                </div>
                            </b-form>                            
                        </b-card-text>
                    </b-card>
                </div>
            </div>
        </div>        
    </section>
</template>

<script>
    // O comentário na linha de baixo desabilita os warnings
/* eslint-disable */
// Imports
import API from '@/services/ApiService';
import store from '@/store'
import router from '@/router'

export default {
    name: "login",
    data() {
        return {
            // Username
            username: '',

            // Senha
            password: '',

            // Variável que recebe o erro do back caso
            // haja algum erro no login
            error: null,

            // Variável para receber a mensagem de sucesso
            // no logout
            message: null
        }
    },
    methods: {
        // Método para fazer o login
        login() {
            // Requisição POST para fazer o login
            API.post('/login', {
                user_name: this.username,
                password: this.password
            }).then(response => {
                // Armazena o token recebido do back-end, este que é usado
                // para recuperar as informações presentes no back-end
                store.commit('setAuthToken', response.data.access_token);

                // Redireciona para a home
                router.push({
                    name: 'Home'
                });            
            }).catch(error => {
                this.error = error.response.data.error;
            });
        }
    },
    // Função executada logo ao criar o componente
    created()
    {
        // Em caso de acesso não permitido verificado pelo router
        // a mensagem de erro é mostrada
        this.error = this.$route.params.error;

        // Em caso de mensagem de logout
        this.message = this.$route.params.message;
    }
};
</script>